.body-custom{
    height: 100vh;
}
.border-custom{
    border-bottom-width: 3px !important;
}
.anchor-custom{
    border-bottom: 3px solid transparent;
}
.anchor-custom:hover{
    text-decoration: none;
    border-bottom: 3px solid grey;
}